<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/client.html}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Introduce page</title>
</head>
<body layout:fragment="content">
            <section class="section_introduct">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <aside>
                                <h1>Giới thiệu</h1>
                                <div class="image_troduct">
                                    <img th:src="@{/image/image_introduct.jpg}" alt="">
                                </div>
                                <div class="content">
                                    <p>Nhà hàng Hải Sản <strong>HỘI NGỘ</strong> được thành lập năm 2004 tại địa chỉ 14 Lê Ngô Cát Q.3, sau đó tháng 8/ 2011 được chuyển về địa điểm mới số 50 Nguyễn Thông P.9, Q.3.</p>
                                    <p>Nhà hàng được xây mới hoàn toàn gồm 2 tầng lầu thiết kế theo không gian mở gồm 1 sân ngoài trời nối với 1 sảnh rộng thoáng mát và 15 phòng VIP sang trọng. Các phòng VIP được xây dựng và trang trí theo những phong cách riêng như phòng kiểu Nhật, Hàn Quốc… Các phòng có góc nhìn riêng nhờ vào các cửa sổ bằng kiếng giúp các thực khách cảm thấy thoải mái khi đến thưởng thức món ăn tại đây. Đặc biệt, Nhà hàng có 1 sảnh tiệc có sức chứa khoảng 100 khách thích hợp cho các tiệc sinh nhật, báo hỷ, liên hoan, họp mặt…</p>
                                    <p>Nhà hàng hải sản <strong>HỘI NGỘ</strong> là thương hiệu lâu năm uy tín trong giới ẩm thực TP.HCM. Với đội ngũ nhân viên giàu kinh nghiệm trong nghề, đội ngũ tiếp viên trẻ đẹp phục vụ ân cần, thức ăn hợp khẩu vị được chế biến từ các loại hải sản phong phú, nguyên phụ liệu tươi ngon thu mua từ các vùng miền trong cả nước sẽ mang đến cho thực khách sự hài lòng khi đến với Nhà hàng Hải sản Hội Ngộ chúng tôi.</p>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</body>
</html>