<footer xmlns:th="http://thymeleaf.org" th:fragment="footer">
    <div class="container pt-5 border-bottom mt-4">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-3 text-center logo-footer">
                <img th:src="@{/image/logo.png}" />
                <p>Nhà hàng FoodCircle thiết kế theo phong cách vừa truyền thống vừa mang nét hiện đại.
                    Kiến trúc sang trọng kết hợp với khung cảnh thiên nhiên tạo cảm giác đặc biệt hơn
                    cho du khách khi thưởng thức ẩm thực tại đây.
                </p>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-6 p-0 float-left mb-3 solutions">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Solutions</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Sales</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Project Management</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Workforce</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href=""> E-Commerce</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Finance</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Business Apps</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3  p-0 mb-3 float-left hidden-md">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Developers</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Open Source</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="">Technology</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3  mb-3 p-0 float-left hidden-md">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Company</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href=""></i>About</a></li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href=""></i> Blog</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 mb-3 p-0 float-left hidden-md">
                        <h5 class="mb-4 font-weight-bold text-uppercase">Connect</h5>
                        <ul class="list-group">
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href=""><i class="fa fa-linkedin mr-1"></i> LinkedIn</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href=""><i class="fa fa-twitter mr-1"></i> Twitter</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href=""><i class="fa fa-reddit mr-1"></i> Reddit</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-google-plus mr-1"></i> Google+</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-github mr-1"></i> Github</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-medium mr-1"></i> Medium</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-facebook mr-1"></i> Facebook</a>
                            </li>
                            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                                <a href="" target="_blank"><i class="fa fa-youtube mr-1"></i> YouTube</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="py-4 d-flex justify-content-center align-items-center">
                    <a class="mr-4" href="">Privacy & terms</a>
                    <a href="">Sitemap</a>
                </div>
            </div>
        </div>
    </div>
</footer>