<header xmlns:th="http://thymeleaf.org" th:fragment="header"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <div class="header_top hidden-lg">
        <menu class="hidden-lg header_nav-mobile">
            <div class="container menu_bar">
                <h2 onclick="showListNav()"><i class="fa fa-bars" aria-hidden="true"></i></h2>
            </div>
            <div class="nav_mobile-list">
                <div class="container">
                    <nav>
                        <ul>
                            <li th:classappend="${session.active} == index ? active : ''"><a th:href="@{/index}">Trang chủ</a></li>
                            <li  th:classappend="${session.active} == introduce ? active : ''"><a th:href="@{/introduce}">Giới thiệu</a></li>
                            <li  th:classappend="${session.active} == service ? active : ''"><a href="#">dịch vụ</a></li>
                            <li  th:classappend="${session.active} == promotion ? active : ''"><a th:href="@{/list/food?category_code=salad}">Khuyến mãi</a></li>
                            <li  th:classappend="${session.active} == contact ? active : ''"><a th:href="@{/contact}">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </menu>
        <ul>
            <li><a th:href="@{/login}">Login</a></li>
            <li>/</li>
            <li><a th:href="@{/register}">Register</a></li>
        </ul>
    </div>
    <div class="header_mid">
        <div class="header_top hidden-md">
            <div class="container">
                <div class="header_login">
                    <th:block th:if="${session.auth.getName()} == 'anonymousUser'">
                        <ul>
                            <li><a  th:href="@{/login}">Login</a></li>
                            <li>/</li>
                            <li><a  th:href="@{/register}">Register</a></li>
                        </ul>
                    </th:block>
                    <th:block th:unless="${session.auth.getName()} == 'anonymousUser'">
                        <ul>
                            <li><i class="fa fa-user-circle-o" aria-hidden="true"></i>&ensp;
                                Welcom to, [[${session.auth.getName()}]]
                            </li>
                            <li class="client_logout"><a th:href="@{/logout}">Logout</a></li>
                        </ul>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="header_main">
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 logo-main">
                        <a th:href="@{/index}"><img th:src="@{/image/logo.png}" alt=""></a>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="header_search">
                            <form class="input-group search-bar" action="/search" method="get" role="search">
                                <input type="search" name="search" value="" placeholder="Tìm kiếm... " class="search_bar-input" autocomplete="off" required="">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12 hidden-md login_pc">
                        <div class="cart_dropdown">
                            <a th:href="@{/shopping-cart}" class="btn btn-cart">
                                <i class="fa fa-shopping-basket"></i>
                                <span>Giỏ hàng: (<span class="cart-popup-count" th:text="${session.totalQuantity}"></span>)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header_nav hidden-md">
        <div class="container">
            <div class="row">
                <nav>
                    <ul>
                        <li th:classappend="${session.active} == index ? active : ''"><a th:href="@{/index}">Trang chủ</a></li>
                        <li  th:classappend="${session.active} == introduce ? active : ''"><a th:href="@{/introduce}">Giới thiệu</a></li>
                        <li  th:classappend="${session.active} == service ? active : ''"><a href="#">dịch vụ</a></li>
                        <li  th:classappend="${session.active} == promotion ? active : ''"><a th:href="@{/list/food?category_code=salad}">Khuyến mãi</a></li>
                        <li  th:classappend="${session.active} == contact ? active : ''"><a th:href="@{/contact}">Liên hệ</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <menu class="hidden-lg menu_mobile">
        <div class="container menu_bar">
            <h3 onclick="showListMenu()"><i class="fa fa-bars" aria-hidden="true"></i> Menu</h3>
            <th:block th:if="${FoodDTOByCategoryCode}">
                <div class="filter_mobile">
                    <div class="filter_mobile-title"><i class="fa fa-filter" aria-hidden="true"></i> BỘ LỌC
                        <div class="filter_mobile-main">
                            <h5>Mức giá</h5>
                            <ul>
                                <li>
                                    <label for="z">
                                        <input type="radio" value="0" id="z" name="group_filter">
                                        Tất cả giá
                                    </label>
                                </li>
                                <li>
                                    <label for="a">
                                        <input type="radio" value="1" id="a" name="group_filter">
                                        Giá dưới 100.000đ
                                    </label>
                                </li>
                                <li>
                                    <label for="b">
                                        <input type="radio" value="2" id="b" name="group_filter">
                                        100.000đ - 200.000đ
                                    </label>
                                </li>
                                <li>
                                    <label for="c">
                                        <input type="radio" value="3" id="c" name="group_filter">
                                        200.000đ - 300.000đ
                                    </label>
                                </li>
                                <li>
                                    <label for="d">
                                        <input type="radio" value="4" id="d" name="group_filter">
                                        300.000đ - 500.000đ
                                    </label>
                                </li>
                                <li>
                                    <label for="e">
                                        <input type="radio" value="5" id="e" name="group_filter">
                                        Giá trên 500.000đ
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="shopping-cart">
                <a th:href="@{/shopping-cart}" class="btn">
                    <i class="fa fa-shopping-basket"></i>
                    <span>Giỏ hàng: (<span class="cart-popup-count" th:text="${session.totalQuantity}"></span>)</span>
                </a>
            </div>
        </div>
        <div class="menu_mobile-list">
            <div class="container">
                <nav>
                    <ul>
                        <li th:each="itemCate : ${categoryList}" th:object="${itemCate}"><a th:href="@{/list/food?category_code={code}(code=*{code})}"  th:text="*{name}" ></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </menu>
</header>