<th:block th:if="${#lists.size(FoodDTOByCategoryCode.resultList)}">
    <aside class="row grid_view" >
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 item_product"
             th:each="itemFood : ${FoodDTOByCategoryCode.resultList}" th:object="${itemFood}">
            <div class="item_product-main">
                <div class="thumbnail"
                     th:onmouseover="displayAction([[${itemFood.id}]]);" th:onmouseout="hiddenAction([[${itemFood.id}]]);">
                    <a th:href="@{/food/details/{id}(id=*{id})}">
                        <th:block th:each="itemImage : *{imageDTOS}" th:object="${itemImage}">
                            <th:block th:if="*{is_preview}">
                                <img  th:src="@{/image_upload/{path}(path=*{path})}" alt="">
                            </th:block>
                        </th:block>
                    </a>
                    <th:block th:if="*{pricePromotion}">
                        <div class="saleright">
                            <span>KM</span>
                        </div>
                    </th:block>
                </div>
                <div class="product_action" th:id="action+*{id}"
                     th:onmouseover="displayAction([[${itemFood.id}]]);"
                     th:onmouseout="hiddenAction([[${itemFood.id}]]);">
                    <a class="action_icon" th:onclick="addtocart_quick([[${itemFood.id}]]);"  title="Cho vào giỏ hàng"><i class="fa fa-shopping-basket"></i></a>
                    <a class="action_icon hidden-md" th:onclick="display_viewquick([[${itemFood.id}]]);" title="Xem nhanh"><i class="fa fa-search-plus"></i></a>
                </div>
                <div class="product_info">
                    <div class="product_info-price">
                                                        <span class="price_special">
                                                            <span th:text="*{pricePromotion} ? *{pricePromotion} : *{price}" th:remove="tag"></span><sup>đ</sup>
                                                        </span>
                        <th:block th:if="*{pricePromotion}">
                            <span class="price_old" >[[*{price}]]<sup>đ</sup></span>
                        </th:block>
                    </div>
                    <h6 class="product_name" th:text="*{name}"></h6>
                </div>
            </div>
        </div>
        <input type="hidden" name="page" id="page">
    </aside>
</th:block>