<!doctype html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{decorators/admin.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Admin dashboard</title>
</head>
<body layout:fragment="content">
    <div class="col-lg-10 col-md-10 col-sm-10 main__content">
        <form action="">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/food}">
                        <div class="card bg-info">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-cutlery" aria-hidden="true"></i></h5>
                                <p class="card-text">Food Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/category}">
                        <div class="card bg-primary">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-th-large" aria-hidden="true"></i></h5>
                                <p class="card-text">Category Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/image}">
                        <div class="card bg-dark">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-object-group" aria-hidden="true"></i></h5>
                                <p class="card-text">Food Image Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/group}">
                        <div class="card bg-secondary">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-clipboard" aria-hidden="true"></i></h5>
                                <p class="card-text">Group Food Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/order}">
                        <div class="card bg-warning">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-file" aria-hidden="true"></i></h5>
                                <p class="card-text">Orders Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/user}">
                        <div class="card bg-danger">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-user" aria-hidden="true"></i></h5>
                                <p class="card-text">User Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/role}">
                        <div class="card" style="background-color: chocolate;">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-user-secret" aria-hidden="true"></i></h5>
                                <p class="card-text">Role Management</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pt-4">
                    <a th:href="@{/admin/statistic}">
                        <div class="card bg-success">
                            <div class="card-body">
                                <h5 class="card-title"><i class="menu-icon fa fa-signal" aria-hidden="true"></i></h5>
                                <p class="card-text">statistic Management</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>


